* {
    box-sizing: border-box;
    margin: 0;
}

header {
    width: 100%;
    height: 100vh;
    background-color: #ECECEC;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)), url("../img/me.jpg");
    background-size: cover, cover;
    background-position: center center, center center;
    .navbar {
        text-decoration: none;
        .topnav {
            position: absolute;
            display: flex;
            width: 100%;
            padding: 1em;
            font-size: 1.24em;
            font-family: 'M PLUS Rounded 1c', sans-serif;
            font-weight: 800;
            letter-spacing: 1px;
            color: #404040;
            .left {
                width: 50%;
                li {
                    float: left;
                }
            }
            .right {
                width: 50%;
                li {
                    float: right;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
            li {
                list-style: none;
            }
        }
    }
    .cajapadre {
        width: 100%;
        height: 100%;
        padding: 0 8.5em 0 8.5em;
        display: flex;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        .caja1{
            width: 10%;
            text-align: center;
            .numero{
                font-size: 3.5em;
                font-weight: bold;
            }
            label{
                font-size: 2em;
                font-weight: unset;
                text-align: center;

            }
            #chart{
                width: 100%;
                margin: auto;
                line {
                    stroke: #555555;
                    stroke-width: 1
                }
            } 

            .topic{
                transform: rotate(-90deg);
                margin-top: 3em;
            }
        }
        .caja2{
            width: 40%;
        }
    }
}