* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

header {
  width: 100%;
  height: 100vh;
  background-color: #ECECEC;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(white)), url("../img/mee.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), white), url("../img/mee.jpg");
  background-size: cover, cover;
  background-position: center center, center center;
}

header .navbar {
  text-decoration: none;
}

header .navbar .topnav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1em;
  font-size: 1.57em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  color: #404040;
}

header .navbar .topnav .left {
  width: 50%;
}

header .navbar .topnav .left li {
  float: left;
}

header .navbar .topnav .right {
  width: 50%;
}

header .navbar .topnav .right li {
  float: right;
}

header .navbar .topnav .right li a {
  text-decoration: none;
  color: black;
}

header .navbar .topnav li {
  list-style: none;
}

header .cajapadre {
  width: 100%;
  height: 100%;
  padding: 0 8.5em 0 8.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
}

header .cajapadre .caja1 {
  width: 10%;
  text-align: center;
}

header .cajapadre .caja1 .numero {
  font-size: 4.5em;
  font-weight: bold;
  margin-bottom: 3em;
  color: #797979;
}

header .cajapadre .caja1 .topic {
  font-size: 1.24em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 3em;
  color: #797979;
}

header .cajapadre .caja2 {
  width: 30%;
}

header .cajapadre .caja2 h1 {
  font-size: 2.3em;
  text-transform: uppercase;
  font-weight: bold;
}

header .cajapadre .caja2 label {
  font-size: 3em;
}

header .cajapadre .caja2 p {
  color: #797979;
}

.portfolio {
  background-color: #595959;
  width: 100%;
  height: 100vh;
}

.portfolio .cajapadre {
  width: 100%;
  height: 100%;
  padding: 8.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.portfolio .cajapadre .caja1 {
  width: 10%;
  text-align: center;
}

.portfolio .cajapadre .caja1 .numero {
  font-size: 4.5em;
  font-weight: bold;
  margin-bottom: 3em;
  color: #797979;
}

.portfolio .cajapadre .caja1 .topic {
  font-size: 1.24em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 3em;
  color: #ffffff;
}

.portfolio .cajapadre .caja2 {
  width: 40%;
  height: 50%;
  margin-left: 5%;
}

.portfolio .cajapadre .caja2 #particles-js {
  width: 100%;
  height: 100%;
}

.portfolio .cajapadre .caja3 {
  width: 50%;
  padding: 10%;
}

.portfolio .cajapadre .caja3 h2 {
  color: #ffffff;
  font-size: 2.3em;
  text-transform: uppercase;
  font-weight: bold;
}

.portfolio .cajapadre .caja3 h4 {
  color: #CACACA;
  text-transform: uppercase;
}

.portfolio .cajapadre .caja3 label {
  font-size: 3em;
  color: #ffffff;
}

.portfolio .cajapadre .caja3 p {
  color: #B1B2B2;
  margin-bottom: 3.5em;
}

.portfolio .cajapadre .caja3 .continue {
  color: #ffffff;
  text-decoration: none;
}

.portfolio .cajapadre .caja3 .continue .next {
  text-transform: uppercase;
  margin-right: 0.58em;
}

.contact {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url("../img/temporal.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/temporal.jpg");
  background-size: cover, cover;
  background-attachment: fixed;
  background-position: center center, center center;
}

.contact .cajapadre {
  width: 100%;
  height: 100%;
  padding: 8.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.contact .cajapadre .caja1 {
  width: 10%;
  text-align: center;
}

.contact .cajapadre .caja1 .numero {
  font-size: 4.5em;
  font-weight: bold;
  margin-bottom: 3em;
  color: #797979;
}

.contact .cajapadre .caja1 .topic {
  font-size: 1.24em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 3em;
  color: #797979;
}

.contact .cajapadre .caja2 {
  width: 50%;
  padding-left: 5em;
}

.contact .cajapadre .caja2 h2 {
  font-size: 2.3em;
  text-transform: uppercase;
  font-weight: bold;
}

.contact .cajapadre .caja2 label {
  font-size: 3em;
}

.contact .cajapadre .caja2 p {
  color: #797979;
}

.contact .cajapadre .caja3 {
  font-family: 'Open Sans', sans-serif;
  width: 50%;
  padding: 10%;
  display: block;
}

.contact .cajapadre .caja3 form {
  width: 100%;
}

.contact .cajapadre .caja3 form .inputcont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .cajapadre .caja3 form .inputcont input {
  width: 50%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 0 0 20px;
  font-size: 16px;
  outline: none;
}

.contact .cajapadre .caja3 form textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
  padding: 0 0 20px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  resize: none;
}

.contact .cajapadre .caja3 form .btn {
  margin: 2em;
  border: none;
  border: 1px solid #000000;
  color: #000000;
  background: transparent;
  padding: 1.08em 3.5em 1.08em 3.5em;
  float: right;
}

.contact .cajapadre .caja3 form .btn:hover {
  color: #ffffff;
  background-color: black;
}
/*# sourceMappingURL=main.css.map */