* {
    box-sizing: border-box;
    margin: 0;
}

header {
    width: 100%;
    height: 100vh;
    background-color: #ECECEC;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1)), url("../img/mee.jpg");
    background-size: cover, cover;
    background-position: center center, center center;

    .navbar {
        text-decoration: none;

        .topnav {
            position: absolute;
            display: flex;
            width: 100%;
            padding: 1em;
            font-size: 1.57em;
            font-family: 'M PLUS Rounded 1c', sans-serif;
            font-weight: 800;
            letter-spacing: 1px;
            color: #404040;

            .left {
                width: 50%;

                li {
                    float: left;
                }
            }

            .right {
                width: 50%;

                li {
                    float: right;

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }

            li {
                list-style: none;
            }
        }
    }

    .cajapadre {
        width: 100%;
        height: 100%;
        padding: 0 8.5em 0 8.5em;
        display: flex;
        align-items: center;
        font-family: 'Open Sans', sans-serif;

        .caja1 {
            width: 10%;
            text-align: center;

            .numero {
                font-size: 4.5em;
                font-weight: bold;
                margin-bottom: 3em;
                color: #797979;
            }

            .topic {
                font-size: 1.24em;
                transform: rotate(-90deg);
                margin-top: 3em;
                color: #797979;
            }
        }

        .caja2 {
            width: 30%;

            h1 {
                font-size: 2.3em;
                text-transform: uppercase;
                font-weight: bold;
            }

            label {
                font-size: 3em;
            }

            p {
                color: #797979;
            }
        }
    }
}

.portfolio {
    background-color: #595959;
    width: 100%;
    height: 100vh;

    .cajapadre {
        width: 100%;
        height: 100%;
        padding: 8.5em;
        display: flex;
        align-items: center;
        font-family: 'Open Sans', sans-serif;

        .caja1 {
            width: 10%;
            text-align: center;

            .numero {
                font-size: 4.5em;
                font-weight: bold;
                margin-bottom: 3em;
                color: #797979;
            }

            .topic {
                font-size: 1.24em;
                transform: rotate(-90deg);
                margin-top: 3em;
                color: #ffffff;
            }
        }

        .caja2 {
            width: 40%;
            height: 50%;
            margin-left: 5%;

            #particles-js {
                width: 100%;
                height: 100%;
            }
        }

        .caja3 {
            width: 50%;
            padding: 10%;

            h2 {
                color: #ffffff;
                font-size: 2.3em;
                text-transform: uppercase;
                font-weight: bold;
            }

            h4 {
                color: #CACACA;
                text-transform: uppercase;
            }

            label {
                font-size: 3em;
                color: #ffffff,
            }

            p {
                color: #B1B2B2;
                margin-bottom: 3.5em;
            }

            .continue {
                color: #ffffff;
                text-decoration: none;

                .next {
                    text-transform: uppercase;
                    margin-right: 0.58em;
                }
            }
        }
    }
}

.contact {
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/temporal.jpg");
    background-size: cover, cover;
    background-attachment: fixed;
    background-position: center center, center center;

    .cajapadre {
        width: 100%;
        height: 100%;
        padding: 8.5em 8.5em 3em 8.5em;
        display: flex;
        align-items: center;
        font-family: 'Open Sans', sans-serif;

        .caja1 {
            width: 10%;
            text-align: center;

            .numero {
                font-size: 4.5em;
                font-weight: bold;
                margin-bottom: 3em;
                color: #797979;
            }

            .topic {
                font-size: 1.24em;
                transform: rotate(-90deg);
                margin-top: 3em;
                color: #797979;
            }
        }

        .caja2 {
            width: 50%;
            padding-left: 5em;

            h2 {
                font-size: 2.3em;
                text-transform: uppercase;
                font-weight: bold;
            }

            label {
                font-size: 3em;
            }

            p {
                color: #797979;
            }
        }

        .caja3 {
            font-family: 'Open Sans', sans-serif;
            width: 50%;
            padding: 10%;
            display: block;

            form {
                width: 100%;

                .inputcont {
                    width: 100%;
                    display: flex;

                    input {
                        width: 50%;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid #e0e0e0;
                        margin-bottom: 10px;
                        margin-right: 20px;
                        padding: 0 0 20px;
                        font-size: 16px;
                        outline: none;
                    }
                }

                textarea {
                    width: 100%;
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid #e0e0e0;
                    margin-bottom: 10px;
                    padding: 0 0 20px;
                    font-size: 16px;
                    font-family: 'Open Sans', sans-serif;
                    outline: none;
                    resize: none;
                }

                .btn {
                    margin: 2em;
                    border: none;
                    border: 1px solid #000000;
                    color: #000000;
                    background: transparent;
                    padding: 1.08em 3.5em 1.08em 3.5em;
                    float: right;

                    &:hover {
                        color: #ffffff;
                        background-color: black;
                    }
                }
            }
        }
    }
    .foot{
        width: 100%;
        padding: 0 0 3em 0;    
        .caja{
            width: 100%;
            text-align: center;
            .ico{
                list-style-type: none;
                color: #797979;
                font-size: 2em;
                margin-left: 0.5em;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    header {
        width: 100%;
        height: 100vh;

        .cajapadre {
            width: 100%;
            height: 100%;
            display: block;
            padding: 2em;

            .caja1 {
                display: none;
                width: 100%;

                .topic {
                    width: 100%;
                    transform: rotate(0deg);
                }
            }

            .caja2 {
                margin-top: 40%;
                width: 100%;
            }
        }
    }
    .portfolio{
        width: 100%;
        height: 100vh;
        .cajapadre{
            width: 100%;
            height: 100%;
            display: block;
            padding: 3em 2em 2em 2em;
            .caja1, .caja2{
                display: none;
            }
            .caja3{
                width: 100%;
                padding: 0.5em;
            }
        }
    }
    .contact{
        width: 100%;
        height: 100vh;
        .cajapadre{
            width: 100%;
            height: 100%;
            display: block;
            padding: 2em;
            .caja1{
                display: none;
            }
            .caja2{
                width: 100%;
                margin-top: 10%;
                padding: 0;
                
                .title{
                    margin: auto;                
                max-width: 250px;
                    display: block;                  
                }
                label{
                    display: none;
                }
                p{
                    display: none;
                    width: 100%;
                }
            }
            .caja3{
                width: 100%;    
                form{
                    .inputcont{
                        display: block;
                        width: 100%;
                        input{
                            width: 100%;
                        }
                    }
                    textarea{
                        width: 100%;
                    }
                    /*.btn{
                        margin: auto;
                        width: 100%;
                        align-items: center;

                    }*/
                }            
            }
        }
    }
}

//transition library https://michalsnik.github.io/aos/