* {
    box-sizing: border-box;
    margin: 0;
}

header {
    width: 100%;
    height: 100vh;
    background-color: #ECECEC;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1)), url("../img/mee.jpg");
    background-size: cover, cover;
    background-position: center center, center center;
    .navbar {
        text-decoration: none;
        .topnav {
            position: absolute;
            display: flex;
            width: 100%;
            padding: 1em;
            font-size: 1.57em;
            font-family: 'M PLUS Rounded 1c', sans-serif;
            font-weight: 800;
            letter-spacing: 1px;
            color: #404040;
            .left {
                width: 50%;
                li {
                    float: left;
                }
            }
            .right {
                width: 50%;
                li {
                    float: right;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
            li {
                list-style: none;
            }
        }
    }
    .cajapadre {
        width: 100%;
        height: 100%;
        padding: 0 8.5em 0 8.5em;
        display: flex;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        .caja1{
            width: 10%;
            text-align: center;
            .numero{
                font-size: 4.5em;
                font-weight: bold;
                margin-bottom: 3em;
                color: #797979;
            }            

            .topic{
                font-size: 1.24em;
                transform: rotate(-90deg);
                margin-top: 3em;
                color: #797979;
            }
        }
        .caja2{
            width: 30%;
            h1{
                font-size: 2.3em;
                text-transform: uppercase;
                font-weight: bold;
            }
            label{
                font-size: 3em;
            }
            p{
                color: #797979;
            }
        }
    }
}

.portfolio{
    background-color: #595959;
    width: 100%;
    height: 100vh;
    .cajapadre{
        width: 100%;
        height: 100%;
        padding:  8.5em;
        display: flex;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        .caja1{
            width: 10%;
            text-align: center;
            .numero{
                font-size: 4.5em;
                font-weight: bold;
                margin-bottom: 3em;
                color: #797979;
            }            

            .topic{
                font-size: 1.24em;
                transform: rotate(-90deg);
                margin-top: 3em;
                color: #ffffff;
            }
        }
        .caja2{
            width: 40%;
            height: 50%;
            margin-left: 5%;
            #particles-js{
                width: 100%; 
                height: 100%;
            }
        }
        .caja3{
            width: 50%;
            padding: 10%;
            h2{
                color: #ffffff;
                font-size: 2.3em;
                text-transform: uppercase;
                font-weight: bold;
            }
            h4{
                color: #CACACA;
                text-transform: uppercase;
            }
            label{
                font-size: 3em;
                color: #ffffff,
            }
            p{
                color: #B1B2B2;
            }
        }
    }
}
//transition library https://michalsnik.github.io/aos/